= form_for @question do |f|
  -if @question.errors.any?
    - @question.errors.full_messages.each do |e|
      = debug e

  .form-group
    = f.label :title, 'Título'
    = f.text_field :title, class: 'form-control'
  
  .form-group
    = f.label :description, 'Descripción'
    = f.text_area :description, class: 'form-control'
  .form-group
    = f.label :tag_list, "Palabras Claves (separated by commas)"
    = f.text_field :tag_list

  = f.submit 'Guardar Pregunta', class: 'btn btn-success'
