%h1
  = @question.title
%hr
%p
  = @question.description

%h3
  Respuestas

- @question.answers.each do |a|
  %hr
  = a.text
  %br
  %em
    Creda por:
    = a.user.email

%br

%h3
  Tú Repuesta

%hr
= form_for [@question, @answer ] do |f|
  -if @question.errors.any?
    - @question.errors.full_messages.each do |e|
      = debug e
  .form-group
    = f.text_area :text, class: 'form-control'
  
  = f.submit "Enviar Respuesta", class: 'btn btn-success'
