.navbar.navbar__main.navbar-expand-lg
  .container
    = link_to root_path, class: 'navbar-brand' do
      .logo
    %button.navbar-toggler{ 'data-toggle': 'collapse', 'data-target': "#navbarCollapse", 'aria-controls': "navbarCollapse", 'aria-expanded':"false", 'aria-label': "Toggle navigation"}
      %span.navbar-toggler-icon

    .collapse.navbar-collapse#navbarCollapse
      %ul.navbar-nav.ml-auto
        -if current_user
          %li.nav-item.active
            %a.nav-link
              Hola!
              = current_user.email
          %li.nav-item.active
            = link_to "Salir", destroy_user_session_path, class: 'nav-link', method: 'delete'
        -else
          %li.nav-item
            = link_to 'Ingresar', new_user_session_path, class: 'nav-link'
          %li.nav-item
            = link_to 'Registrar', new_user_registration_path, class: 'nav-link'
