.navbar.navbar-lg.navbar-expand-lg.navbar-transparant.navbar-dark.navbar-absolute.w-100
  .container
    = link_to "Razón Legal", root_path, class: 'navbar-brand'
    %button.navbar-toggler
      %span.navbar-toggler-icon

    .collapse.navbar-collapse#navbarSupportedContent
      %ul.navbar-nav.ml-auto
        -if current_user
          %li.nav-item.active
            %a.nav-link
              Hola!
              = current_user.email
          %li.nav-item.active
            = link_to "Salir", destroy_user_session_path, class: 'nav-link', method: 'delete'
        -else
          %li.nav-item
            = link_to 'Ingresar', new_user_session_path, class: 'nav-link'
          %li.nav-item
            = link_to 'Registrar', new_user_registration_path, class: 'nav-link'
