<!DOCTYPE html>
<html>
  <head>
    <title>Razón Legal | <%= @meta_title ? @meta_title : '' %></title>
    <% if @meta_description.present? %>
      <meta name="description" content="<%= @meta_description %>">
    <% end %>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class='application'>
    <%= render 'application/navbar' %>
    <main>
      <div class= "container">
        <div class="row" >
          <div class="col-md-3">
            <%= render 'application/sidebar' %>
          </div>
          <div class="col-md-9">
            <%= yield %>
          </div>
        </div>
      </div>
    </main>
    <%= render 'application/footer' %>
  </body>
</html>
