<!DOCTYPE html>
<html>
  <head>
    <title>Razón Legal | <%= @meta_title ? @meta_title : '' %></title>
    <% if @meta_description.present? %>
      <meta name="description" content="<%= @meta_description %>">
    <% end %>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class='home'>
    <%= render 'application/navbar' %>
    <%= yield %>
    <%= render 'application/footer' %>
  </body>
</html>
